.projectContainer {
  /* display: flex;
  place-content: center;
  border-radius: 2ch;
  overflow: hidden; */
  /* background-color: rgb(255, 166, 0, 0.4); */
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  transition: transform ease-in-out 0.2s;
}

.pageTitle {
  color: teal;
  color: black;
}
.projectContainer:hover {
  transform: scale(1, 1.1);
  filter: saturate(70%);
}

.hrefContainer {
  height: min-content;
  place-content: start;
  place-items: center;
  display: flex;
  flex-direction: row;
}

.projectDetailsContainer {
  place-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  margin: auto;
  gap: 2ch;
  min-height: min-content;
  border-radius: 1ch;
  color: white;
  text-align: center;
}

.projectThumbnail {
  width: 20ch;
  height: 20ch;
  border-radius: 1ch;
  /* outline:solid; */
  place-self: center;
  align-self: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  color: beige;
}

.description {
  /* color: rgb(0, 0, 0, 0.7); */
  color: rgb(255, 255, 255, 0.5);
  font-weight: 500;
  /* text-overflow: ellipsis; */
  text-overflow: ellipsis;
}

.pageTitle {
  letter-spacing: 1.5ch;
  color: black;
}

@media only screen and (max-width: 560px) {
  .pageTitle {
    letter-spacing: 0ch;
  }
  .container {
    /* background-color:aqua; */
    max-width: 100vw;
    /* outline-width:20px; */
    /* outline:solid;
    outline-color:orange; */
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
    place-content: center;
    place-items: center;
    /* min-height:max-content; */
    /* gap:3%; */
    margin-left: auto;
    margin-right: auto;
    /* height:100vh; */
    /* min-height:100vh; */
  }

  /* .projectContainer{
    max-width:100%;
    display:grid;
    height:min-content;
    grid-template-columns: 1fr 2fr;
     gap:1ch;
     
    border-radius:1ch;
    place-items:center;
    place-content:space-around;
    font-size:0.75rem;
    outline: red solid;
    
  } */

  .projectContainer {
    display: flex;
    place-content: center;
    place-items: center;
    min-width: 90vw;
    border-radius: 2ch;
    /* overflow: hidden; */
    max-width: 70ch;

    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  }

  .projectThumbnail {
    width: 10ch;
    height: 10ch;
    border-radius: 2ch;
    /* outline:solid; */
    place-self: center;
  }

  .title {
    font-size: 0.9rem;
    font-weight: 700;
  }

  .projectDetailsContainer {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1ch, min-content));

    place-items: center;
    place-content: center;
    min-height: max-content;
    gap: 3%;
    border-radius: 1ch;
    color: white;
    /* max-height: 10ch; */
  }
}
