.skillsContainer {
  width: 100%;
  gap: 2ch;
  place-items: center;
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  place-content: center;
}

.motionContainer {
  /* width: 25ch; */
  width: 40ch;
  padding-top: 2ch;
  padding-bottom: 2ch;
  backdrop-filter: blur(10px);
  padding-left: 10ch;
  padding-right: 10ch;
  height: 30ch;
  width: 50%;
  backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0, 1);
}

.eachSkill {
  color: teal;
  /* letter-spacing: 2ch; */
}

.eachSkill.eachSkill::first-letter {
  color: beige;
  /* font-size: 1.1rem; */
}

@media screen and (max-width: 600px) {
  .skillsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* gap: 1ch; */
    place-content: center;
    place-items: center;

    /* padding: 1ch; */
    height: max-content;
    column-gap: 2ch;
    row-gap: 3ch;
  }

  .motionContainer {
    height: 30ch;
    width: 90%;
    backdrop-filter: blur(10px);
    padding-left: 0ch;
    padding-right: 0ch;
  }
}

.skillsContainer > span {
  border-radius: 1ch;
}

.skillLight {
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 2px;
  color: black;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white; */
  /* font-weight: 800; */

  /* padding: 1ch; */
}

.skillDark {
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 2px;
  color: white;

  /* padding: 1ch; */
}

.eachSkill {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.2ch;
}
.eachSkill::first-letter {
  /* border-radius: 1ch; */
  /* font-size: 1.1rem; */
  /* text-decoration-line: underline; */
  font-weight: 800;
}
