.skillsContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, min-content));
  width: 100%;
  gap: 2ch;
  place-content: space-around;
  place-items: center;
}

.skillsContainer > span {
  border-radius: 1ch;
}

.skillLight {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  color: black;

  padding: 1ch;
}

.skillDark {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: white;

  padding: 1ch;
}
