.container {
  display: grid;
  grid-template-rows: minmax(5ch, min-content) repeat(
      auto-fit,
      minmax(20ch, min-content)
    );

  margin-left: auto;
  margin-right: auto;
  place-items: center;
  place-content: center;
  width: 50%;
  color: white;
}

.intro {
  width: 100%;
  text-align: center;
  /* font-style: italic; */
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 0.2ch;
  word-spacing: 1ch;
}

@media screen and (max-width: 500px) {
  .intro {
    font-size: 1rem;
  }
}

.skillsMainContainer {
  display: grid;
  grid-template-rows: 2ch auto;
  place-content: center;
  place-items: center;
  gap: 3ch;
  border-radius: 2ch;
  padding: 2ch;
  /* background: linear-gradient(153deg, rgba(226,135,22,1) 0%, rgba(190,212,38,1) 16%, rgba(40,204,40,1) 32%, rgba(6,185,150,1) 48%, rgba(81,130,189,1) 64%, rgba(162,94,163,1) 81%, rgba(173,29,51,1) 100%); */
  /* background: linear-gradient(153deg, rgba(1,1,1,1) 0%, rgba(79,69,69,1) 16%, rgba(54,71,54,1) 32%, rgba(47,74,70,1) 48%, rgba(38,58,84,1) 64%, rgba(52,18,52,1) 81%, rgba(60,6,14,1) 100%); */
  /* box-shadow:  0.5ch 1.5ch 2ch rgba(0, 0, 0, 0.4) */
}

.skillsContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, min-content));
  width: 100%;
  gap: 2ch;
  place-content: space-around;
  place-items: center;
}

.skillsContainer > span {
  border-radius: 1ch;
}

.skillLight {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;

  padding: 1ch;
}

.skillDark {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  color: black;
  padding: 1ch;
}

@media only screen and (max-width: 560px) {
  .container {
    width: 70%;
    display: grid;
    /* grid-template-rows : minmax(5ch,min-content) repeat(auto-fit, minmax(40ch, min-content)); */
    grid-template-rows: minmax(5ch, min-content) 1fr 1fr;
    /* grid-template-rows : min-content 1fr 1fr; */
    outline-color: red;

    gap: 3%;
    min-height: min-content;
    max-height: 100vh;
    place-items: center;
  }

  .intro {
    width: 100%;
    text-align: center;
  }

  .skillsMainContainer {
    display: grid;
    grid-template-rows: 2ch 1fr;
    place-content: center;
    place-items: center;
    gap: 1ch;
    max-width: 90vw;
    margin: -0.3ch;
  }

  .skillsContainer {
    /* background-color: aquamarine; */

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap:0.5ch; */
    column-gap: 1rem;
    /* height:min-content; */
    place-content: space-between;
    place-items: center;
  }

  .skillsContainer > span {
    text-align: center;
    margin: 0.3ch;
  }

  .skillLight {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1ch;

    padding: 0.5ch;
  }

  .skillDark {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1ch;
    color: black;
    padding: 0.5ch;
  }
}
