.introParaContainer {
  margin: auto;
  border-radius: 1ch;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.introParagraphs {
  word-spacing: 1.5ch;
}

.introParagraphs::first-letter {
  font-size: 2rem;
  color: blueviolet;
}

@media screen and (min-width: 600px) {
  /* .introParagraphs {
    width: 50%;
  } */

  .introParaContainer {
    width: 50%;
    padding: 0ch;
  }
  .introParagraphs {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .introParagraphs {
    font-size: 1.1rem;
  }
}
